# ================================
# Python
# ================================
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
.env/

# Packaging
dist/
build/
*.egg-info/
*.whl

# ================================
# Logs & Runtime Artifacts
# ================================
logs/
*.log
*.out

# ================================
# Data & Artifacts (generated)
# ================================
data/
reports/
mlruns/
mlartifacts/

# ================================
# OS Generated
# ================================
.DS_Store
Thumbs.db
*.swp

# ================================
# IDEs
# ================================
.vscode/
.idea/
*.iml

# ================================
# GitHub Actions (ALLOW)
# ================================
!.github/workflows/*.yml
!.github/workflows/*.yaml
